<% include partials/header.ejs %>
<h1 class="display-1">Home</h1>
</nav>
<div id="my-table" id="main">
  <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
</div>
<table align="center" id="table-icons">

  <tr>
    <td width="500px"><a href="/immeubles" ><img src="https://image.flaticon.com/icons/svg/148/148825.svg" width="250" height="230" class="center"><p id="text">Immeubles</p></a></td>
    <td width="500px"><a href="/syndics"><img src="https://image.flaticon.com/icons/svg/942/942784.svg" width="250" height="230"><p id="text">Syndicats</p></a></td> 
  </tr>
  <tr>
    <td width="500px"><a href="/Contact"><img src="https://cdn.icon-icons.com/icons2/777/PNG/512/bank_icon-icons.com_64654.png" width="250" height="230"><p id="text">Banques</p></a></td>
    <td width="500px"><a href="/Contact"><img src="https://image.flaticon.com/icons/svg/138/138712.svg" width="250" height="230"><p id="text">Contact</p></a></td> 
  </tr>
</table>

<script>

        function openNav() {
          document.getElementById("mySidenav").style.width = "300px";
          document.getElementById("main").style.marginLeft = "300px";
          document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
        }
        
        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
          document.getElementById("main").style.marginLeft= "0";
          document.body.style.backgroundColor = "white";
        }
        </script>
</body>
</html>